body, html {
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", verdana, sans-serif;
    font-weight: 700;
    color: #ffff00;
    background: url("../images/milky-way.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}

.content {
    position: absolute;
    width: 70%;
    height: 150%;
    bottom: 0;
    margin-left:15%;
    font-size: 50px;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 70%;
    transform: perspective(300px) rotateX(25deg);
}
.content:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 100%;
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
}
.titlecontent {
    position: absolute;
    text-align:center;
    animation: scroll;
    animation-iteration-count: infinite;
    animation-duration: 28s;
    animation-timing-function: ease-in;

}

@keyframes scroll {
    0% { top: 87%; }
    100% { top: -100%; }
}
